<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <span data-feather="home"></span>
                    Bảng tin <span class="sr-only">(current)</span>
                </a>
            </li>

            <!-- Menu Loại sản phẩm -->
            <li class="nav-item">
                <a href="#hinhthucthanhtoanSubMenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">
                    <span data-feather="package"></span> Loại sản phẩm
                </a>
                <ul class="collapse" id="hinhthucthanhtoanSubMenu">
                    <li class="nav-item">
                        <a class="nav-link" href="/php/twig/backend/hinhthucthanhtoan/index.php">
                            <span data-feather="list"></span>
                            Danh sách
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/php/twig/backend/hinhthucthanhtoan/create.php">
                            <span data-feather="plus"></span>
                            Thêm mới
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Menu Loại sản phẩm -->

            <!-- Menu Chủ Đề Góp Ý -->
            <li class="nav-item">
                <a href="#hinhthucthanhtoanSubMenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">
                    <span data-feather="package"></span> Chủ đề góp ý
                </a>
                <ul class="collapse" id="hinhthucthanhtoanSubMenu">
                    <li class="nav-item">
                        <a class="nav-link" href="/php/twig/backend/hinhthucthanhtoan/index.php">
                            <span data-feather="list"></span>
                            Danh sách
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/php/twig/backend/hinhthucthanhtoan/create.php">
                            <span data-feather="plus"></span>
                            Thêm mới
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Chủ Đề Góp Ý -->

            <!-- Menu Hình Thức Thanh Toán -->
            <li class="nav-item">
                <a href="#hinhthucthanhtoanSubMenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">
                    <span data-feather="package"></span> Hình thức thanh toán
                </a>
                <ul class="collapse" id="hinhthucthanhtoanSubMenu">
                    <li class="nav-item">
                        <a class="nav-link" href="/php/twig/backend/hinhthucthanhtoan/index.php">
                            <span data-feather="list"></span>
                            Danh sách
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/php/twig/backend/hinhthucthanhtoan/create.php">
                            <span data-feather="plus"></span>
                            Thêm mới
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Hình Thức Thanh Toán -->
        </ul>
    </div>
</nav>